@import url('./AntDesign.css');
#circuit_view {
	height: 361px;
	width: 100%;
	background: #fff;
	overflow: auto;
	cursor: auto ,
}
.svgtext{
	user-select: none;
}

#d3_drawing {
	height: 361px;
	width: 100%;
	background: #fff;
	overflow: auto;
}
#right_down_div {
	height: 677px;
	display: flex;
	margin-top: 15px;
	display: flex;
}
#right_down_div .d_component {
	width: 741px;
	height: 100%;
	margin-right: 9px;
	background: #fff;
}
#right_down_div .c_component {
	width: 566px;
	height: 100%;
	background: #fff;
	padding: 10px;
}
#right_down_div .c_component .title {
	height: 32px;
	line-height: 32px;
}
#right_down_div .c_component .c_up_draw{
	width: 100%;
	height: 290px;
}
#right_down_div .c_component #chart_svg{
	width: 100%;
	height: 100%;
}
#right_down_div .c_component .c_down_draw{
	width: 100%;
	height: 303px;
}
#right_down_div .c_component .title .title_name {
	font-size: 18px;
}
.svgtext {
	user-select: none;
}
.restore_btn {
	float: right;
}
