@import url('./AntDesign.css');
#circuit_view {
	height: 361px;
	width: 100%;
	background: #fff;
	overflow: auto;
	cursor: auto;
}
#circuit_view .title{
	font-size: 18px;
	padding: 10px;
	padding-bottom: 0;
}
.svgtext {
	user-select: none;
}

#d3_drawing {
	height: 361px;
	width: 100%;
	background: #fff;
	overflow: auto;
}
#right_down_div {
	height: 695px;
	display: flex;
	margin-top: 8px;
}
#right_down_div .scroll_div {
	width: 741px;
	height: 100%;
	margin-right: 8px;
	background: #fff;
	padding: 10px;
	/* overflow-y: auto; */
}
#right_down_div .d_component {
	height: 100%;
	overflow-x: visible;
}
#right_down_div .c_component {
	width: 566px;
	height: 100%;
	background: #fff;
	padding: 10px;
}
#right_down_div .c_component .title,
#right_down_div .d_component .title {
	height: 32px;
	line-height: 32px;
	
}
#right_down_div .d_component .title .title_name{
	float: left;
}
#right_down_div .d_component .title .pic_tip {
	margin-left: 10px;
	height: 32px;
	line-height: 32px;
	float: left;
	vertical-align: middle;
}
#right_down_div .d_component .title .pic_tip img {
	vertical-align: middle;
}
#right_down_div .d_component .title .pic_tip .tip_text{
	margin-left: 5px;
}
#right_down_div .c_component .c_up_draw {
	width: 100%;
	height: 290px;
	overflow: auto;
}
#right_down_div .c_component #chart_svg {
	/* height: 100%; */
}
#right_down_div .c_component .c_down_draw {
	width: 100%;
	height: 303px;
}
#right_down_div .c_component .c_down_draw #chart_down_svg {
	width: 100%;
	height: 303px;
}
#right_down_div .c_component .title .title_name,
#right_down_div .d_component .title .title_name {
	font-size: 18px;
}
.svgtext {
	user-select: none;
	font-family: 'Ubuntu-R';
}
.restore_btn {
	float: right;
}
#d_draw_div {
	width: 100%;
	height: calc(100% - 32px);
}
.d_chart_div {
	width: 48%;
	height: 50%;
	margin-right: 2%;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	transition: all 0.3s;
	/* overflow: auto; */
}
.d_chart_div_full {
	width: 1900px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 999;
}
.d_chart_title {
	height: 32px;
	width: 100%;
	line-height: 32px;
	padding: 0 5px;
}
.chart_svg_div {
	width: 100%;
	height: calc(100% - 32px);
	overflow: auto;
}
.d_chart_svg {
	padding: 0 10px;
	position: relative;
}
.btn_group {
	float: right;
	position: relative;
}
.btn_group .operation_div {
	width: 31px;
	height: 81px;
	position: absolute;
	border: 1px solid #cccc;
	padding: 0 8px;
	right: -8px;
	top: 32px;
	z-index: 999;
	background: #fff;
	line-height: 26px;
}
.btn_group .operation_div img {
	margin: 0 0;
	cursor: pointer;
}
.btn_group .operation_img {
	cursor: pointer;
	
	
}
.btn_group img{
	margin-left: 8px;
}
.label_name {
	color: rgb(100, 159, 174);
}
.relaed_div,
.show_data_div {
	position: absolute;
	border-radius: 4px;
	background: #fff;
	z-index: 99;
}
.show_data_div {
	width: 150px;
	/* height: 198px; */
	padding: 10px;
}
