.root {
  :global {
    position: relative;
 .useContent{
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 30px;
  transform: translate(-50%);
  .useInfor{
    width: 500px;
    height: 500px;
    margin-left: 50px;
  }
 }
  }
}
