.root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  :global {
    height: 100%;
    width: 100%;
    .opearation {
      // width: 100%;
      height: 40px;
      vertical-align: top;
      padding-right: 40px;
      margin-top: 5px;
      div {
        // width: 500px;
        .ant-btn {
          margin-right: 10px;
        }
      }
    }
    .circuit {
      .Circuit_top {
        height: 40%;
        display: flex;
        .normalCircuit {
          flex: 2;
          width: 70%;
          height: 340px;
          display: inline-block;
          border: 1px solid rgba(235, 235, 235);
          // overflow: hidden;
          // overflow-y: scroll;
          .ant-card {
            height: 340px;

            .ant-card-body {
              padding: 0px;
            }
          }
          .circuitDiv {
            // width: 800px;
            width: 100%;
            height: 280px;
            overflow: hidden;
            overflow-y: scroll;
            overflow-x: scroll;
            display: inline-block;
          }
        }
        .radom {
          flex: 1;
          width: 30%;
          height: 380px;
          margin-left: 10px;
          display: inline-block;
          border: 1px solid rgba(235, 235, 235);
          .opearation {
            // width: 100%;
            height: 40px;
            vertical-align: top;
            padding-right: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            // border: 1px solid rgba(235, 235, 235);
            div {
              // width: 500px;
              .ant-btn {
                margin-right: 10px;
              }
            }
          }
          .radarChart {
            height: 340px;
            height: 100%;
            transform: scale(0.9);
            // border: 1px solid rgba(235, 235, 235);
          }
        }
      }
      .Circuit_down {
        height: 340px;
        margin-top: 50px;
        .analysisCircuit {
          width: 100%;
          // height: 50%;
          border: 1px solid rgba(235, 235, 235);
          .ant-btn {
            margin-top: 10px;
            margin-left: 10px;
          }
          .config {
            display: flex;
            margin-top: 10px;
            .optimized {
              flex: 1;
              width: 150px;
              height: 200px;
              display: inline-block;
              border: 1px solid;
              background-color: #f5f5f5;
              vertical-align: top;
              margin-left: 10px;
              // margin-right: 50px;
              // margin-bottom: 50px;
              .selectOptimized {
                margin-top: 10px;
                margin-left: 10px;
                .ant-radio-group-outline {
                  margin-left: 10px;
                  div {
                    border: 1px;
                  }
                  div:hover {
                    border: 1px solid #1890ff;
                    background-color: #1890ff;
                    border-radius: 10px;
                  }
                }
              }
              .selectOptimizeda {
                .selectList {
                  margin-top: 10px;
                  div {
                    cursor: pointer;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    padding-left: 10px;
                  }
                  div:hover {
                    // background-color: #1890ff;
                    border: 1px solid #1890ff;
                    border-radius: 10px;
                  }
                  .select {
                    background-color: #1890ff;
                    border-radius: 10px;
                  }
                }
              }
              .header {
                width: 100%;
                display: inline-block;
                padding-right: 5px;
                span {
                  margin-left: 10px;
                  font-weight: 700;
                  font-size: 15px;
                }
                .icon {
                  float: right;
                }
              }
            }
          }
        }
      }
    }
    .ant-drawer {
      .ant-drawer-content-wrapper {
        .ant-drawer-content {
          .ant-drawer-wrapper-body {
            .ant-drawer-body {
              .optimized {
                width: 220px;
                height: 150px;
                display: inline-block;
                border: 1px solid;
                background-color: #f5f5f5;
                vertical-align: top;
                margin-right: 50px;
                margin-bottom: 50px;
                .selectOptimized {
                  margin-top: 10px;
                  margin-left: 10px;
                  .ant-radio-group-outline {
                    margin-left: 10px;
                    div {
                      border: 1px;
                    }
                    div:hover {
                      border: 1px solid #1890ff;
                      background-color: #1890ff;
                      border-radius: 10px;
                    }
                  }
                }
                .selectOptimizeda {
                  .selectList {
                    margin-top: 10px;
                    div {
                      cursor: pointer;
                      margin-left: 10px;
                      margin-right: 10px;
                      margin-bottom: 10px;
                      padding-left: 10px;
                    }
                    div:hover {
                      // background-color: #1890ff;
                      border: 1px solid #1890ff;
                      border-radius: 10px;
                    }
                    .select {
                      background-color: #1890ff;
                      border-radius: 10px;
                    }
                  }
                }
                .header {
                  width: 100%;
                  display: inline-block;
                  padding-right: 5px;
                  span {
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: 15px;
                  }
                  .icon {
                    float: right;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
