.front_header {
	height: 80px;
	width: 100%;
	background: #08121b;
	line-height: 80px;
	min-width: 1200px;
}
.front_menu_div {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}
.front_logo_title {
	font-style: normal;
	font-size: 26px;
	color: #ffffff;
	user-select: none;
	cursor: pointer;
	float: left;
}
.front_menu_list {
	height: 80px;
	margin-bottom: 0;
	float: left;
	padding-top: 15px;
}
.front_menu_list li {
	height: 50px;
	line-height: 50px;
	box-sizing: border-box;
	float: left;
	font-style: normal;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	user-select: none;
	margin-left: 85px;
}
.front_menu_list li:hover {
	cursor: pointer;
}
.front_menu_list li.active {
	border-bottom: 4px solid #003f88;
}
.front_menu_list_second {
	float: right;
}
.front_menu_list li a {
	color: #fff;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.front_menu_list li a:hover {
	color: #fff;
}
.front_menu_list .menu_notice_li {
	margin-left: 0;
	width: 44px;
	padding-top: 10px;
}
.front_ling_dang {
	width: 28px;
	height: 30px;
	display: inline-block;
	border-radius: 4px;
	background: url('../../images/lingdang.svg') no-repeat;
	background-color: #474747;
	background-position: center;
}
.front_tip_num {
	width: 16px;
	height: 16px;
	color: #fff;
	background: red;
	border-radius: 50%;
	vertical-align: top;
	line-height: 14px;
	font-size: 12px;
	
}
.front_menu_list .front_menu_user {
}
.front_menu_list .front_menu_user a {
	width: 100px;
}
.front_menu_list .front_menu_user .front_user_name {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}

.front_content {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}
.computer_content {
	width: 100%;
	height: calc(100% - 70px);
	display: flex;
}
.common_content {
	width: 1200px;
	margin: 0 auto;
	min-height: 700px
}
.admin_user_content {
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}
