.notfound-box {
  margin: 0px;
  padding: 0px;
  font-family: "微软雅黑";
  font-size: 16px;
}



.errorpPage-box h1,
h2 {
  margin: 0;
  font-weight: normal;
  font-family: "微软雅黑";
}

.errorpPage-box h1 {
  font-size: 44px;
  color: #0188de;
  padding: 20px 0px 10px;
}

.errorpPage-box h2 {
  color: #0188de;
  font-size: 16px;
  padding: 10px 0px 40px;
}

.errorpPage-box p {
  color: #666;
}

.errorpPage-box {
  width: 910px;
  margin-top: 80px;
  padding: 20px 20px 40px;
  border-style: dashed;
  border-color: #e4e4e4;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.errorpPage-operate .operateBtn {
  width: 180px;
  height: 28px;
  margin-left: 0px;
  margin-top: 10px;
  background: #009cff;
  border-bottom: 4px solid #0188de;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #fff;
}

.errorpPage-operate .operateBtn:hover {
  background: #5bbfff;
}
.margin-top{
  width: 100%;
  height: 80px;
}
