.root {
  :global {
    min-height: calc(100vh - 80px);
    width: 500px;
    .operation_content {
      margin: 0 10px;
      width: 100%;
      padding: 20px;
      border: 1px solid #e8e8e8;
    }
    .editor_ace_content {
      border: 1px solid #e8e8e8;
      margin: 0 10px;
      width: 500px;
      padding: 20px;
      // height: calc((100% - 82px) * 0.6);
      height: 640px;

      .ace_gutter {
        background-color: #fff;
        color: #237893;
      }
    }
  }
}
