@import '~antd/dist/antd.css';
@font-face {
	font-family: 'Ubuntu-R';
	src: url('./font/Ubuntu-R.ttf');
}
*{
	margin: 0;
	padding: 0;
}
div{
	box-sizing: border-box;
}
img{
	display: inline-block;
}
.App {
	width: 1914px;
	padding: 8px;
	background: #000;
	display: flex;
	font-family: 'Ubuntu-R';
	position: relative;
	height: 1080px;
}
.App .expand_div{
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
}
.App .right-div {
	width: 1310px;
	flex-shrink: 0;
}
.App .left-div {
	width: 580px;
	margin-right: 8px;
	flex-shrink: 0;
}
.App .left-div,
.App .right-div {
	height: 100%;
	/* background: #fff; */
}
.App .right_down_div {
	display: flex;
	width: 100%;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
ul li {
	list-style: none;
}
/* 设置滚动条整体部分的样式 */ 
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滚动槽--外层轨道 */
::-webkit-scrollbar-track {
	background: none;
}

/* 内层轨道（不包含滚动块部分） */
::-webkit-scrollbar-track-piece {
  opacity: 0;   /* 透明度设置为全透明，使得滚动条背景色为网页颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ECECEC;
}