@import '~antd/dist/antd.css';
@font-face {
	font-family: 'Ubuntu-R';
	src: url('./font/Ubuntu-R.ttf');
}
*{
	margin: 0;
	padding: 0;
}
div{
	box-sizing: border-box;
}
img{
	display: inline-block;
}
.App {
	width: 100%;
	background: #000;
	display: flex;
	font-family: 'Ubuntu-R';
	position: relative;
	height: 800px;
}
.App .expand_div{
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
}
.App .right-div {
	width:calc(72% - 5px);
	flex-shrink: 0;
}
.App .left-div {
	width: 28%;
	margin-right: 5px;
	flex-shrink: 0;
}
.App .left-div,
.App .right-div {
	height: 100%;
	/* background: #fff; */
}
.App .right_down_div {
	display: flex;
	width: 100%;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
ul li {
	list-style: none;
}

.computer_left_operation{
	width: 50px;
	height: 100%;
	background: #28619D;
	text-align: center;
}
.computer_left_operation ul li {
	height: 49px;
	line-height: 49px;
}
.computer_left_operation_item{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-top: 12px;
	cursor: pointer;
}
.computer_left_operation ul li:nth-of-type(1) .computer_left_operation_item{
	background: url('./images/ide_save.svg') no-repeat;
}
.computer_left_operation ul li:nth-of-type(2) .computer_left_operation_item{
	background: url('./images/icon_add.svg') no-repeat;
	background-size: 100%;
}
.computer_left_operation ul li:nth-of-type(3) .computer_left_operation_item{
	background: url('./images/ide_change_mode.svg') no-repeat;
}
.computer_left_operation ul li:nth-of-type(4) .computer_left_operation_item{
	background: url('./images/ide_shitu.svg') no-repeat;
	background-size: 100% 100%;
	
}
.ace_operation .ant-btn-primary{
	border: 0;
}
.ide_title{
	text-align: center;
	font-size: 38px;
	color: #003f88;
	font-weight: bold;
	margin-bottom: 51px;
	user-select: none;
}
.ide_top_menu{
	height: 33px;
	width: 100%;
	border-radius: 0px;
	background-color: #003f88;
	line-height: 33px;
	padding: 0 12px;
}
.ide_top_menu span{
	display: inline-block;
	width: 66px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	user-select: none;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
}
.ide_top_menu span:hover{
	background-color: #1857bf;
}